.header {
   direction: rtl;
   display: flex;
   gap: 5rem;
   margin-top: 3rem;
}

.header .active {
   border-bottom: 2px solid #8c2687;
   border-bottom-right-radius: 0.5rem;
}

.header-item {
   text-decoration: none;
   color: black;
}
